* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #ffcb05, #f95959, #8a8a8a, #343434) no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

